<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon aria-hidden="true" name="calendar-clear-outline"></ion-icon>
      <!-- <ion-label>Tab 1</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="search-recipe">
      <ion-icon aria-hidden="true" name="search"></ion-icon>
      <!-- <ion-label>Tab 2</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="recipe-list">
      <!-- <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Tab 3</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
