<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-searchbar
    placeholder="Search Recipe"
    (ionInput)="filterData($event)"
  ></ion-searchbar>
  <ion-grid>
    <ion-row style="margin-bottom: 5px" *ngFor="let item of recipeList">
      <ion-col size="2">
        <img class="img" [src]="item?.thumbnail_url" />
      </ion-col>
      <ion-col size="8">
        <p class="text">{{item?.name}}</p>
        <p class="text1">{{item?.nutrition?.calories }} Cal per serving</p>
      </ion-col>
      <ion-col size="2" class="center">
        <img class="add_icon" src="../../../assets/images/Vector.png" />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
